<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <style>
        h3,th, a{color:orange}
        a{
            text-decoration:none;
            font-size:0.9em;
        }

        body{
            font-size:0.8em;
        }
    </style>
</head>
<body>

    <div>
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h3>Trainconsult Management</h3>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ username }}</a></li>
                    <li><a href="{% url 'user_logout' %}"><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="col-md-8">
            {% if messages %}
                {% for message in messages%}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md">
                <div class="card card-body">
                    <h3>Event Booking</h3>
                </div>

                <div class="card card-body">
                    <h3>Students' Attendance</h3>
                </div>
                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Attendance Mode</th>
                            <th>Phone Number</th>
                            <th>Email Address</th>
                            <th>University</th>
                            <th>Action</th>
                        </tr>
                        {% for booking in bookings %}
                            {% if booking.booking_status == "Not Approved" %}
                                {% if booking.attendance_mode == "student" %}
                                    <tr>
                                        <td>{{ booking.id}}</td>
                                        <td>{{ booking.first_name}}</td>
                                        <td>{{ booking.last_name}}</td>
                                        <td>{{ booking.attendance_mode }}</td>
                                        <td>{{ booking.phone_number }}</td>
                                        <td>{{ booking.email_address}}</td>
                                        <td>{{ booking.university}}</td>
                                        <td>
                                            <a class="btn btn-danger btn-sm" href="/delete/{{ booking.id}}">
                                                Delete</a>
                                            <a class="btn btn-info btn-sm" href="#">Confirm</a>
                                            <a class="btn btn-info btn-sm" href="/booking-details/{{ booking.id }}">View</a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="card card-body">
                    <h3>Physical Attendance</h3>
                </div>

                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Attendance Mode</th>
                            <th>Phone Number</th>
                            <th>Email Address</th>
                            <th>Organization</th>
                            <th>Action</th>
                        </tr>
                        {% for booking in bookings %}
                            {% if booking.booking_status == "Not Approved" and booking.attendance_mode == "physical" %}
                                <tr>
                                    <td>{{ booking.id}}</td>
                                        <td>{{ booking.first_name}}</td>
                                        <td>{{ booking.last_name}}</td>
                                        <td>{{ booking.attendance_mode }}</td>
                                        <td>{{ booking.phone_number }}</td>
                                        <td>{{ booking.email_address}}</td>
                                        <td>{{ booking.organization}}</td>
                                        <td>
                                            <a class="btn btn-danger btn-sm" href="/delete/{{ booking.id}}">
                                                Delete</a>
                                            <a class="btn btn-info btn-sm" href="#">Confirm</a>
                                            <a class="btn btn-info btn-sm" href="/booking-details/{{ booking.id }}">View</a>
                                        </td>
                                    </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="card card-body">
                    <h3>Virtual Attendance</h3>
                </div>

                <div class="card card-body">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Attendance Mode</th>
                            <th>Phone Number</th>
                            <th>Email Address</th>
                            <th>Organization</th>
                            <th>Action</th>
                        </tr>
                        {% for booking in bookings %}
                            {% if booking.booking_status == "Not Approved" and booking.attendance_mode == "virtual" %}
                                <tr>
                                        <td>{{ booking.id}}</td>
                                        <td>{{ booking.first_name}}</td>
                                        <td>{{ booking.last_name}}</td>
                                        <td>{{ booking.attendance_mode }}</td>
                                        <td>{{ booking.phone_number }}</td>
                                        <td>{{ booking.email_address}}</td>
                                        <td>{{ booking.organization}}</td>
                                        <td>
                                            <a class="btn btn-danger btn-sm" href="/delete/{{ booking.id }}">
                                                Delete</a>
                                            <a class="btn btn-info btn-sm" href="#">Confirm</a>
                                            <a class="btn btn-info btn-sm" href="/booking-details/{{ booking.id }}">View</a>
                                        </td>
                                    </tr>
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>